
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem; /*1.6x10=16px*/
    color: whitesmoke;
}
h1,h2,p{
    margin: 1.6rem 0;
}
h1{
    font-weight: 800;
    font-size: 3.6rem;
  
}
h2{
    font-weight: 800;
    font-size: 2.4rem;
 
}
p{
    font-weight: 400;
    font-size: 1.8rem;
    
}
img{
    width: 100%;
    height: auto;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}
section{
    padding: 100px 0;
}
header{
    height:100vh;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6)), url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}
.logo h1{
    font-size: 3.2rem;
    color:#4CAF50;
    margin: 0;
}
nav{ 
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
}
nav box-icon {
    display: none;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-left: 2.5rem;
}
nav ul li a:hover{
    color: #4CAF50;
    transition: .5s ease-in-out;
}

/*********** Media screen ************/

@media only screen and (max-width:768px) {
    nav{
        flex-direction: column;
        position: relative;
    }
    nav box-icon {
        display: block;
        position: absolute;
        top: 18px;
        right: 32px;
    }
}